div ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}

div ul li a{
  text-decoration: none;
  color: whitesmoke;
  margin-right: 20px;
}

div ul li ul{
  display: none;
  position: absolute;
  background: black;
}

div ul li ul li{
  margin: 10px;
}

div ul li:hover ul{
  display: block;
}

div ul{
  background: black;
  border-radius: 5px;
  padding: 20px;
}

body{
  background: #f1f1f1;
}

form{
  width: 300px;
  margin: 0 auto; /*margin: auto is used for centering an element*/
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}